<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

		<h1>Welcome to my website!</h1>
		<p>WEB322 Assignment 6</p>
		<p>Kinshuk Verma - 170890214</p>
		<p>Email :- kverma36@myseneca.ca</p>

		<!-- End your code here  -->



	</main>
</div>